.episode-detail-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.episode-detail-page article:nth-child(2) {
  flex-grow: 1;
  padding-left: 6rem;
}

.episode-detail-page article:nth-child(2) *:not(hr) {
  padding: 1rem;
}

.episode-detail-page audio {
  width: 100%;
  height: 80px;
}
