.podcast-detail-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* Episodes table container */
.podcast-detail-page article:nth-child(2) {
  flex-grow: 1;
  padding-left: 6rem;
}

.podcast-detail-page article:nth-child(2) h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.podcast-detail-page article:nth-child(2) > * {
  margin-bottom: 1.5rem;
}

/* Episodes table */
.episodes-table {
  width: 100%;
}

.episodes-table td,
.episodes-table th {
  border-bottom: 1px solid var(--gray-200);
  padding: 0.6rem;
}

.episodes-table tr:nth-child(odd) {
  background-color: var(--gray-100);
}

.episodes-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--white);
  color: var(--black);
}

.episodes-table a {
  color: var(--blue-500);
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .podcast-detail-page {
    flex-direction: column;
  }

  .podcast-detail-page article:nth-child(2) {
    padding-left: 0;
  }

  .podcast-detail-page article:nth-child(2) {
    margin-top: 1.5rem;
  }
}
