.podcast-detail-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* Podcast episode list container */
.podcast-detail-page article:nth-child(2) {
  flex-grow: 1;
  padding-left: 6rem;
}

.podcast-detail-page article:nth-child(2) * {
  margin-bottom: 1.5rem;
}

.podcast-detail-page table {
  width: 100%;
}

.podcast-detail-page table td,
.podcast-detail-page table th {
  border-bottom: 1px solid #ddd;
  padding: 0.6rem;
}

.podcast-detail-page table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.podcast-detail-page table tr:hover {
  background-color: #ddd;
}

.podcast-detail-page table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}
