.podcast-detail-card {
  width: 20rem;
}

.podcast-detail-card div:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1rem;
}

.podcast-detail-card div:not(:first-child) {
  padding-top: 1rem;
}

.podcast-detail-card div:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast-detail-card h2,
.podcast-detail-card h3 {
  font-weight: bold;
  padding-bottom: 1rem;
}

.podcast-detail-card h2 {
  font-size: 1.25rem;
}

.podcast-detail-card span,
.podcast-detail-card p {
  font-style: italic;
}
