.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--gray-200);
  padding-left: 2rem;
}

.header nav a {
  color: var(--blue-500);
  font-size: 2rem;
}
