.podcast-list-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Search bar */
.podcast-list-page .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 8rem;
}

.podcast-list-page .search-bar input {
  margin: 1rem;
  width: 20rem;
}

/* Podcast list */
.podcast-list-page ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 5rem;
}

/* Podcast list item */
.podcast-list-page li {
  padding: 7rem 1rem;
}

.podcast-list-page .card {
  height: 165px;
  min-width: 300px;
  display: flex;
  align-items: center;
}

.podcast-list-page .card img {
  height: 160px;
  border-radius: 100%;
  transform: translateY(-100px);
}

.podcast-list-page div {
  transform: translateY(-90px);
}

.podcast-list-page div h2 {
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.podcast-list-page div span {
  color: var(--neutral-500);
}
