.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__nav {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.layout__nav a {
  color: rgb(0, 110, 255);
  padding: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
}
